<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Aihe: <span th:text="${aihe.nimi}"></span>!</h1>
        <form method="POST" action="">
            Nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="text" name="viesti"/><br/>
            <input type="submit" value="viestita"/>
        </form>

        <a class="button" href="">Takaisin</a>

        <h5>Viestien lkm:</h5>

        <form method="POST">
            <select name="lkm">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
             <input type="submit" value="Vaihda lkm"/>
        </form>        

                            <p th:each="viesti: ${viestit}">
                                <span th:text="${viesti.moneskoViesti}"></span><span th:text="${viesti.sisalto}">viestin sisalto</span><span th:text="${viesti.pvm}">viestin pvm</span>
                            </p>

                            </body>
                            </html>