<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="http://www.polyconvex.com/tikape/site.css"></link>        
    </head>

    <body>
        <h1>Aihe: <span th:text="${aihe.nimi}"></span>!</h1>
        <form method="POST">
            Nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="text" name="viesti"/><br/>
            <input type="submit" value="viestita"/>
        </form>

        <a th:href="@{~/alueet/{id}(id = ${aihe.alueid})}">Takaisin</a>

        <h5>Viestien lkm:</h5>

        <form method="POST">
            <select name="lkm">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
             <input type="submit" value="Vaihda lkm"/>
        </form>        

                            <p th:each="viesti: ${viestit}">
                                <span th:text="${viesti.moneskoViesti}"></span><span th:text="${viesti.sisalto}">viestin sisalto</span><span th:text="${viesti.pvm}">viestin pvm</span>
                            </p>
        <a th:href="@{~/aiheet/{id}/{page}(id=${aihe.id}, page = ${prev})}"> Edellinen sivu </a><h5>||</h5><a th:href="@{~/aiheet/{id}/{page}(id=${aihe.id}, page = ${next})}"> Seuraava sivu </a>
                            </body>
                            </html>