<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="http://www.polyconvex.com/tikape/site.css"></link>        
    </head>

    <body>
        <h1>Alue: <span th:text="${alue.nimi}"></span>!</h1>

        <ol>
            <li th:each="aihe: ${aiheet}">
                <a th:href="@{~/aiheet/{id}/1 (id=${aihe.id})}"><span th:text="${aihe.nimi}">aiheen nimi</span></a><span th:text="${aihe.viestit}">aiheen viestit</span><span th:text="${aihe.viimeisin}">aiheen viimeisin viesti</span>
            </li>
        </ol>
        
        <a th:href="@{~/alueet/{id}/luo (id = ${alue.id})}"><span>luo aihe</span></a>
    </body>
</html>