<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="http://www.polyconvex.com/tikape/site.css"></link>        
    </head>

    <body>

        <div class="row text-center mainContainer">
            <h1 class="mainTitle">Alueet</h1>
            <div class="col-md-10 col-md-offset-1 PanelContainer">

<!-- HUOM! Pitäisikö alla olevan tableHeaders-taulukon näyttää Aluenimi (niinkuin nyt on), 
    sitten Aiheiden lukumäärä viestien lukumäärän sijaan? --> 

                <table>
                    <tr class="tableHeaders">
                        <th>Alue</th>
                        <th>Aiheiden määrä</th>
                        <th>Viimeisin viesti</th>
                    </tr>
                    <tr class="panel tauluPanel" th:each="alue: ${alueet}">
                        <td><a th:href="${'/alueet/' +alue.id}"><span th:text="${alue.nimi}">alueen nimi</span></a></td>
                        <td><span th:text="${alue.viestit}">alueen viestit</span></td>
                        <td><span th:text="${alue.viimeisin}">alueen viimeisin viesti</span></td>
                    </tr>  


                </table>

                <a class="btn nappula" href="alue/luo"><span>luo alue</span></a>                    
            </div> 
        </div>

    </body>
</html>