<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="http://www.polyconvex.com/tikape/site.css"></link>        
    </head>
    <body>
        
         <div class="row text-center mainContainer">
             <h1>Heippa vaan!</h1>
             <div class="col-md-10 col-md-offset-1 PanelContainer">

                <p>Ja .. <span th:text="${viesti}">jotain?</span></p>

                <p><a href="/alueet">Tästä alueisiin.</a></p>
           
             </div>
         </div>
            
        
        
    </body>
</html>