<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="http://www.polyconvex.com/tikape/site.css"></link>        
    </head>

    <body>
        <h1>Luo uusi alue</h1>
        <h2><span th:text="${nimiPuuttuu}">täytyy olla nimi</span></h2>
        <form method="POST">
            Nimi: <input type="text" name="nimi"/><br/>
            Lyhyt kuvaus:  <input type="text" name="kuvaus"/><br/>
             <input type="submit" value="viestita"/>
        </form>
    </body>
</html>