<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="http://www.polyconvex.com/tikape/site.css"></link>        
    </head>

    <body>
        <h1>Luo uusi aihe</h1>
        <a class="btn nappulaBack" th:href="@{~/alueet/{id}(id = ${takas})}">Takaisin</a>
        <h2><span th:text="${viestiPuuttuu}">täytyy olla nimi</span></h2>
        <h2><span th:text="${nimiviestiPuuttuu}">täytyy olla nimi</span></h2>
        <h2><span th:text="${nimiPuuttuu}">täytyy olla nimi</span></h2>
        <form method="POST" id="posti">
            Nimi: <input type="text" name="nimi"/><br/>
            Lyhyt kuvaus:  <textarea rows="2" cols="50" name="kuvaus" form="posti"/><br/>
            <br/>
            Kirjoittaja: <input type="text" name="kirjoittaja"/><br/>
            Viesti: <textarea rows="10" cols="50" name ="viesti" form="posti"/>
             <input type="submit" value="viestita"/>
        </form>
    </body>
</html>